
@model StoreApp.MVCWebUI.Models.LoginModel
@{
    ViewBag.Title = "Index";
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Giriş</title>
    <link href="//fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/all.min.css">
    <link rel="stylesheet" href="~/Content/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    @*<link rel="stylesheet" href="..\Content\login.css">*@

</head>


<body background="../Content/images/bg-image.jpg" style="height:100% !important; width:100%;">
    
        <div class="container-fluid">
            <div class="row min-vh-100">
                <div class="col-12">
                    <header class="bg-info">
                      
                    </header>
                </div>
                <div class="col-12">
                   
                    @*<div class="row">

                    </div>*@
                    <main class="row">
                        <div class="position-static" style="margin-left:700px">
                            <div class="bg-info">
                                <div class="bg-info">
                                    @using (Html.BeginForm("Login", "Login", FormMethod.Post))
                                    {
                                        <fieldset>


                                            @Html.AntiForgeryToken()
                                            @Html.ValidationSummary(true)
                                            @if (@ViewBag.Message != null)
                                            {
                                                <div style="border: 1px solid red">
                                                    @ViewBag.Message
                                                </div>
                                            }
                                            @if (Session["ActiveUser"] == null)
                                            {


                                                <table style="margin-left: 75px;">
                                                    <tr>
                                                        <td style="text-align: right;"></td>
                                                        <td style="text-align: left;">Giriş</td>
                                                    </tr>
                                                    @*<tr>
                                                            <td><i class="material-icons">face</i></td>
                                                        </tr>*@

                                                    <tr>
                                                        <td><i class="material-icons">face</i> @Html.LabelFor(a => a.UserName, "Kullanıcı Adı:") </td>
                                                        <td> @Html.TextBoxFor(a => a.UserName) </td>
                                                        <td> @Html.ValidationMessageFor(a => a.UserName) </td>
                                                    </tr>
                                                    @*<tr>

                                                            <td> <i class="material-icons">vpn_key</i></td>
                                                        </tr>*@
                                                    <tr>
                                                        <td>
                                                            <i class="material-icons">vpn_key</i> @Html.LabelFor(a => a.Password,"Şifre:")
                                                        </td>
                                                        <td>
                                                            @Html.PasswordFor(a => a.Password)
                                                        </td>
                                                        <td>
                                                            @Html.ValidationMessageFor(a => a.Password)
                                                        </td>
                                                    </tr>
                                                    <tr>

                                                        <td class="remember-me">
                                                            <input type="checkbox">
                                                            <span style="">Beni Hatırla</span>
                                                        </td>

                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td>
                                                            <input type="submit" value="Giriş" />
                                                            @*<a href="~/Home/Index/" class="btn btn-primary">giriş</a>*@
                                                        </td>
                                                        <td></td>
                                                    </tr>
                                                </table>
                                            }

                                            else
                                            { @Session["ActiveUser"].ToString();
                                            @:Hoşgeldiniz
                                            <meta http-equiv="refresh" content="2;url=/Home/Index">

                                        }
                                        </fieldset>
                                    }
                                </div>
                            </div>
                        </div>
                    </main>
                    <!-- Main Content -->
                </div>

            </div>
        </div>
        <script type="text/javascript" src="~/Scripts/jquery.min.js"></script>
        <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
        <script type="text/javascript" src="~/Scripts/script.js"></script>
    </body>
</html>

@*<html lang="en">
        <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <meta name="description" content="">
            <meta name="author" content="">
            <title>Giriş</title>
            <!-- Custom fonts for this template-->
            <link href="~/Content/all.min.css" rel="stylesheet" type="text/css">
            <!-- Custom styles for this template-->
            <link href="~/Content/sb-admin.css" rel="stylesheet">
        </head>
        <body class="bg-dark">

                @using (Html.BeginForm("Login", "Login", FormMethod.Post))
              {
              <fieldset>


                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                @if (@ViewBag.Message != null)
               {
            <div style="border: 1px solid red">
                @ViewBag.Message
            </div>
             }
                @if (Session["ActiveUser"]==null)
                {


                <table>
                    <tr>
                        <td> @Html.LabelFor(a => a.UserName) </td>
                        <td> @Html.TextBoxFor(a => a.UserName) </td>
                        <td> @Html.ValidationMessageFor(a => a.UserName) </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(a => a.Password)
                        </td>
                        <td>
                            @Html.PasswordFor(a => a.Password)
                        </td>
                        <td>
                            @Html.ValidationMessageFor(a => a.Password)
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <input type="submit" value="Giriş" />
                        </td>
                        <td></td>
                    </tr>
                </table>
                }

                else
                {       @Session["ActiveUser"].ToString();
                        @:Hoşgeldiniz
                <meta http-equiv="refresh" content="3;url=/Home/Index">

                }
            </fieldset>
                }

            <!-- Bootstrap core JavaScript-->
            <script src="~/Scripts/jquery.min.js"></script>
            <script src="~/Scripts/js/bootstrap.bundle.min.js"></script>
            <!-- Core plugin JavaScript-->
            <script src="~/Scripts/jquery.easing.min.js"></script>
        </body>
    </html>*@

