@model StoreApp.Entity.AccountPerson
@{

    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2></h2>


@using (Html.BeginForm())
{
<div class="form-horizontal">
    <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label" style="color:black !important;">İsim:</label>
        <div class="col-sm-10">
            @Html.TextBox("FirsName", null, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label" style="color:black !important;">Soyisim:</label>
        <div class="col-sm-10">
            @Html.TextBox("LastName", null, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label" style="color:black !important;">Resim:</label>
        <div class="col-sm-10">
            @Html.TextBox("PicturePath", null, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label" style="color:black !important;">Telefon:</label>
        <div class="col-sm-10">
            @Html.TextBox("Phone", null, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label" style="color:black !important;">Güncelleme Tarihi:</label>
        <div class="col-sm-10">
            @Html.TextBox("UpdateDate", null, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label" style="color:black !important;">Güncelleyen Kişi:</label>
        <div class="col-sm-10">
            @Html.TextBox("UpdateBy", null, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label" style="color:black !important;">Silindi Mi:</label>
        <div class="col-sm-10">
            @Html.TextBox("IsDeleted", null, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label" style="color:black !important;">Ekleme Tarihi:</label>
        <div class="col-sm-10">
            @Html.TextBox("InsertDate", null, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label" style="color:black !important;">Ekleyen Kişi:</label>
        <div class="col-sm-10">
            @Html.TextBox("InsertedBy", null, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span>Kaydet</button>
        </div>
    </div>

</div>
}


